.protmotion-content {
    padding: 30px;
}

.page-title {
    color: white;
    text-transform: capitalize;
}

/*
.protmotion-content_paragraph{
    padding: 300px 0;
    text-align: center;
    font-size: larger;
} */