main 
{
    display: flex;
    flex-flow: column nowrap;
    font-weight: 900;
    margin: 0;
}

.main__slider
{
    /* display: flex; */
    margin: 5px 0;
    width: 100%;
}

.main__slider-photo img
{
    /* flex-shrink: 1; */
    max-width: 100%;
    width: 100%;
}

.market-area
{
    display: flex;
    flex-direction: column;
}

.main__market-area__title
{
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

.main__market-area__products-show
{
    margin: 20px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.main__market-area__products-show .product-card
{
    margin: 20px 10px;
    display: flex;
    max-width: 23%;
    max-height: 20%;
    flex-direction: column;
    background-color: rgb(31, 31, 39);
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-decoration: none;
    
}

.main__market-area__products-show .product-card .product-card__img
{
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    max-width: 100%;
    border-radius: 20px;
}

.main__market-area__products-show .product-card .product-card__name
{
    /* text-size-adjust: 15px; */
    padding: 20px;
    align-items: flex-start;
    text-align: center;
    text-transform: uppercase;
}

.main__market-area__products-show .product-card .product-card__price
{
    padding: 0 0 20px 0;
    font-size: 30px;
    align-items: flex-start;
    text-align: center;
    text-transform: uppercase;
}


